@import 'vars';

.emoji-logo-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.emoji-logo-container img {
    width: 140px;
    height: 100px;
}

.emoji-logo-container h2 {
    margin-bottom: 0;
}

.emoji-logo-container p {
    width: 200px;
    margin-top: 0;
}
