@import 'vars';

.project-card-container {
    cursor: pointer;
    padding: 1rem;
    width: 20rem;
    height: 10rem;
    border-radius: 1rem;
    background: linear-gradient(180deg, #A3DEF1 0%, rgba(57, 53, 245, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 2rem;
}